@font-face {
    font-family: itemFont;
    src: url(~@/assets/fonts/Fontin-Bold.ttf)
}

$lAccent: rgb(44, 54, 65);
$dAccent: rgb(29, 33, 37);
$label: rgb(0, 2, 2);
$border: rgb(18, 19, 31, 0.5);

body {
  margin: 0;
  padding: 15px;
  background-color: $lAccent; 
  font-family: itemFont;
}

.aura-app {
  padding: 1px;
  color: #FFFFFF;
}

.title-header {
  height: 100%;
  background-color: $dAccent;
  border-radius: 6px;
  box-shadow:inset 0px 0px 0px 2px $border;
}

.content-box {
  padding: 10px !important;
  background-color: $dAccent;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 0.5em;
  box-shadow:inset 0px 0px 0px 2px $border;
}

.output-stats { 
  padding: 15px;
  min-width: 475px;
  max-height: 820px;
  min-height: 820px;
  overflow-y: auto;
  background-color: $dAccent;
  border-radius: 6px;
  box-shadow:inset 0px 0px 0px 2px $border;
}

select{
  border: 1px solid #ccc;
  background: #222;
  font-size: 14px;
  color: #FFF;
  line-height: 25px;
  padding: 2px;
  width: 95px;
  margin-right: 3px;
  height: 27px;
}

input[type=number]{
  border: 1px solid #ccc;
  background: #222;
  font-size: 14px;
  color: #FFF;
  line-height: 25px;
  padding: 0 2px;
  width: 45px;
  margin-right: 3px;
}

.b-rad {
  border-radius: 5px;
}

.my-modal {
  z-index: 90;
}