@font-face {
    font-family: itemFont;
    src: url(~@/assets/fonts/Fontin-Bold.ttf)
}

body {
  margin: 0;
  padding: 15px;
  background-color: #58606b; 
  font-family: itemFont;
}

.aura-app {
  padding: 1px;
  color: #FFFFFF;
}

.title-header {
  height: 100%;
  background-color: #373d44;
  border-radius: 6px;
}

.content-box {
  padding: 10px !important;
  background-color: #373d44;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 0.5em;
}

.output-stats { 
  padding: 15px;
  min-width: 475px;
  max-height: 820px;
  min-height: 820px;
  overflow-y: auto;
  background-color: #373d44;
  border-radius: 6px;
}

select{
  border: 1px solid #ccc;
  background: #222;
  font-size: 14px;
  color: #FFF;
  line-height: 25px;
  padding: 2px;
  width: 95px;
  margin-right: 3px;
  height: 27px;
}

input[type=number]{
  border: 1px solid #ccc;
  background: #222;
  font-size: 14px;
  color: #FFF;
  line-height: 25px;
  padding: 0 2px;
  width: 50px;
  margin-right: 3px;
}

.b-rad {
  border-radius: 5px;
}

